/* Created by: Aden Rao
Created on: May 30, 2019
This program is a simple style sheet for game.html but only for the images */

img {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
}