img {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
/*	border: 3px solid #00ff11;*/
}

img.square {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 267px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square2 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square3 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square4 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square5 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square6 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square7 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square8 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square9 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square10 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square11 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square12 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square13 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square14 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square15 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square16 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square17 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square18 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square19 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square20 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square21 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square22 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square23 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square24 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square25 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square26 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square27 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square28 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square29 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square30 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square31 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square32 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square33 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square34 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square35 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square36 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square37 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square38 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square39 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square40 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square41 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square42 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square43 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square44 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square45 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square46 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square47 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square48 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square49 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square50 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square51 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square52 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square53 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square54 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square55 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square56 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square57 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square58 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square59 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square60 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square61 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square62 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}

img.square63 {
	position: absolute;
	max-width: auto;
	max-height: auto;
	width: 600px;
	height: 296px;
	left: 190px;
	top: 120px;
/*	border: 3px solid #00ff11;*/
}